/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --primaryColor: black;
    --secondaryColor: white;
    --tertiaryColor: #5E93C2;
    --quaternaryColor: #D5F4FF;
}